.radioSelecter {
	white-space: nowrap;
}

.lead {
	white-space: nowrap;
}

.tooltip-inner {
    background-color: white;
    color: black;
}

.tooltip.top .tooltip-arrow {
  border-top-color: white;
  color: black
}

.slider-selection {
  background: #ededed;
}
